<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DotNetProject3.Properties.Settings.Tp1ADOConnectionString"
            connectionString="Data Source=DESKTOP-2RA9EQ3\SQLEXPRESS;Initial Catalog=Tp1ADO;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>